*,
*::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a,
li {
  text-decoration: none;
  list-style: none;
  color: inherit;
}

.section-project .container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  color: white;
}
.section-project .container .content .content-title {
  font-size: 30px;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  text-transform: uppercase;
  color: white;
}
.section-project .container .content .content-title::after {
  content: "";
  display: flex;
  width: 130px;
  height: 4px;
  background-color: #fe755d;
}
.section-project .container .content .content-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.section-project .container .content .content-inner .inner-title h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  color: #fe755d;
  background-color: rgba(254, 117, 93, 0.4470588235);
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  height: 40px;
  font-size: 18px;
}
.section-project .container .content .content-inner .inner-group {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 30px;
}
.section-project .container .content .content-inner .inner-group .inner-image {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: -moz-fit-content;
  width: fit-content;
}
.section-project .container .content .content-inner .inner-group .inner-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.section-project .container .content .content-inner .inner-group .inner-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  gap: 20px;
}
.section-project .container .content .content-inner .inner-group .inner-description h3 {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 30px;
}
.section-project .container .content .content-inner .inner-group .inner-description p {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.47);
  padding-bottom: 40px;
}
.section-project .container .content .content-inner .inner-group .inner-description a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
  color: black;
  font-weight: bold;
  padding: 20px 25px;
  font-size: 15px;
  border-radius: 10px;
  background-color: #3cd28a;
}

/* respensive */
@media (max-width: 480px) {
  .section-project .container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }
  .section-project .container .content .content-title {
    font-size: 20px;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    text-transform: uppercase;
    color: white;
  }
  .section-project .container .content .content-title::after {
    content: "";
    display: flex;
    width: 130px;
    height: 4px;
    background-color: orangered;
  }
  .section-project .container .content .content-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  .section-project .container .content .content-inner .inner-title h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    color: rgba(255, 68, 0, 0.745);
    background-color: rgba(255, 68, 0, 0.179);
    border-radius: 10px;
    width: -moz-fit-content;
    width: fit-content;
    padding: 10px;
    height: 40px;
    font-size: 15px;
  }
  .section-project .container .content .content-inner #content-reverse {
    display: flex;
    flex-direction: column-reverse;
  }
  .section-project .container .content .content-inner .inner-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 50px;
  }
  .section-project .container .content .content-inner .inner-group .inner-image {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: auto;
  }
  .section-project .container .content .content-inner .inner-group .inner-image img {
    border-radius: 10px;
  }
  .section-project .container .content .content-inner .inner-group .inner-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: -moz-fit-content;
    width: fit-content;
    gap: 20px;
  }
  .section-project .container .content .content-inner .inner-group .inner-description h3 {
    width: -moz-fit-content;
    width: fit-content;
    font-size: 15px;
  }
  .section-project .container .content .content-inner .inner-group .inner-description p {
    width: 100%;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.47);
    padding-bottom: 20px;
  }
  .section-project .container .content .content-inner .inner-group .inner-description a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: -moz-fit-content;
    width: fit-content;
    height: 40px;
    padding: 20px;
    font-size: 15px;
    border-radius: 10px;
    background-color: #3cd28a;
    margin-bottom: 10px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .section-project .container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    color: white;
  }
  .section-project .container .content .content-title {
    font-size: 20px;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    text-transform: uppercase;
    color: white;
  }
  .section-project .container .content .content-title::after {
    content: "";
    display: flex;
    width: 130px;
    height: 4px;
    background-color: orangered;
  }
  .section-project .container .content .content-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .section-project .container .content .content-inner .inner-title h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    color: rgba(255, 68, 0, 0.745);
    background-color: rgba(255, 68, 0, 0.179);
    border-radius: 10px;
    width: -moz-fit-content;
    width: fit-content;
    padding: 10px;
    height: 40px;
    font-size: 15px;
  }
  .section-project .container .content .content-inner .inner-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 15px;
  }
  .section-project .container .content .content-inner .inner-group .inner-image {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
  }
  .section-project .container .content .content-inner .inner-group .inner-image img {
    border-radius: 10px;
  }
  .section-project .container .content .content-inner .inner-group .inner-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: -moz-fit-content;
    width: fit-content;
    gap: 10px;
  }
  .section-project .container .content .content-inner .inner-group .inner-description h3 {
    width: -moz-fit-content;
    width: fit-content;
    font-size: 15px;
  }
  .section-project .container .content .content-inner .inner-group .inner-description p {
    width: 100%;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.47);
    padding-bottom: 20px;
  }
  .section-project .container .content .content-inner .inner-group .inner-description a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: -moz-fit-content;
    width: fit-content;
    height: 40px;
    padding: 20px;
    font-size: 15px;
    border-radius: 10px;
    background-color: #3cd28a;
  }
}/*# sourceMappingURL=main.css.map */